# Dependencies
node_modules/
*/node_modules/

# Production builds
dist/
build/
*/dist/
*/build/

# Environment variables
.env
.env.*
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log


# Editor directories and files
.vscode/

# venv
backend/venv/



# Python
__pycache__/
